.grid-container {
  width: 80%;
  margin: auto;
}

.row {
  margin-bottom: 50px;
}

.photo-grid {
  object-fit: cover;
  width: 100%;
  height: 550px;
}

.featured {
  height: 750px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .grid-container {
    width: 100%;
    height: auto;
  }

  .row {
    width: auto;
    height: auto;
    margin: 0px;
  }

  .col {
    width: 100%;
    height: auto;
    flex-basis: auto;
    padding: 0px;
    margin: 15px 0px;
  }

  .photo-grid {
    width: 100%;
    height: 100%;
  }

  .featured {
    height: auto;
  }
}
